body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.center {
    text-align: center;
}
.info-item,
.info-link {
    color: rgba(255,255,255,0.3);
    font-size: 14px;
}
.title p {
    color: #30a3f0;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.title h1 {
    color: ffffff;
    font-size: 45px;
    max-width: 720px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}
.element {
    height: 100px;
    width: 1px;
    background-color: #2b88c7;
    margin: 0 auto;
}
.element-bottom {
    margin-top: 32px;
}
.element-top {
    margin-bottom: 29px;
}
.btn {
    color: #30a3f0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #30a3f0;
    border-radius: 5px;
    padding: 20px 42px 18px;
}
.nav-link {
    color: #444444;
}
.nav-link.active {
    color: #30a3f0;
}
.box h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 27px;
}
.title-h2 {
    font-size: 30px;
    font-weight: 800;
}
.title-h2 span {
    color: #30a3f0;
    font-size: 16px;
}
.description {
    color: #707070;
}
.list-description {
    color: #222222;
}